body {
    background: #292F36;
    color: #FC354C;

}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0 0;
    padding: 0;
}

#toppage {
    height: 85px;
    width: 100%;
}

#topnav {
    background: #29221F;
    border-radius: 0;
    border: solid #ffffff 1px;
    position: fixed;
    width: 100%;
    height: 45px;
}

#hamburger {
    color: #0ABFBC;
    background-color: #29221F;
    border: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#menu {
    float: left;
    margin-top: 5%;
    border-radius: 0px;
    border: solid #E6F9BC;
    background: #B5FED9;
}

.textback {
    background-color:rgba(0,0,0,0.5);
    padding: 3px;
}

#image+text {
    position: relative;
    width: 100%;
}

#frontphoto {
    width: 100%;
}

#introtext {
    font-size: 5em;
    font-weight: lighter;
    margin-left: 6%;
    display: block;
    top: 10%;
}

#introtext2 {
    font-size: 5em;
    font-weight: lighter;
    margin-top: -2%;
    display: inline-block;
    top: 70%;
    right: 15%;
    text-align: right;
    float: right;
}


#resume {
    list-style: none;
    color: #1BB0CE;
    font-size: 1.8em;
    font-weight: lighter;
    margin-top: 5%;
}

.resume-words {
    color: #B5FED9;

}

@media only screen and (max-width: 700px) {

}