* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url('img/nami.png');
    /*background-attachment: fixed;*/
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
}

.section {
    position: relative;
    border: 2px solid #2a292a;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    color: #53c9c0;
    height: 33.3%;
}

@keyframes click {
    from{
        left: 0px;
    }

    to{
        left: 30px;
    }
}

.clicked {
    animation-name: click;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

#home {
    height: 100%;
    background-size: cover;
    right: 25%;
    background-image: url('img/taxi.jpg');
}

#portfolio {
    background-image: url('img/pinksky.jpg');
}

#contact {
    background-image: url('img/mountainfog.jpg');
}

@media screen and (min-device-width: 762px) {

    body {

    }

    h1 {

    }

}

